.product_profile_heading_color {
  color: #6560e9;
  font-weight: bold;

}

.product_profile_description_color {
  color: #4F83DF;
  font-weight: bold;
  font-size: x-large;
}

.product_profile_button_color{
  color: #08e5c7;
  text-decoration: none;
  font-weight: bolder;
  font-size: larger;
}

.product_profile_button_border{
  border: 2px solid #08e5c7;
  border-radius: 20px;
}