.section1{
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: auto;
  width: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 100vh;
  
}

.sec1_content{
  position: relative;
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: auto;
  width: 100%;
  background-color: rgba(101, 96, 233,0.15);
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.sec1_content h2{
  background: -webkit-linear-gradient(0deg,#6560E9 0%, #4F83DF 50%,#08E5C7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.sec1_content_footer a{
  color: #08e5c7;
}

.sec1_content_footer a:hover, .technologies h2{
  color: #6560e9;
}

.sec1_content_footer h5:hover{
  cursor: pointer;
}

.technologies{
  background-color: white;
  overflow: hidden;
}

@keyframes slide {
  from{
    transform: translateX(0);

  }
  to{
    transform: translateX(-100%);
  }
}

.technology_brand_logos{
  overflow: hidden;
  background: white;
  white-space: nowrap;
}

.technology_brand_logos:hover .technology_brand_logos_slide{
  animation-play-state: paused;
}

.technology_brand_logos_slide{
  display: inline-block;
  animation: 35s slide infinite linear;
}

.technology_brand_logos_slide img {
  width: 150px;
  //height: 50px;
  margin: 0 40px;
}