.footer{
  height: auto;
  width: 100%;
  background-image: url("footer.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}

.footer_wrapper_background{
  background-color: rgba(101, 96, 233, 0.15);
}